.welcome{
  -fx-background-image: url("images/welcome_bg.jpg");
  -fx-background-size: 100% 100%;
}

.chessboard {
  -fx-background-image: url("images/chessboard.jpg");
  -fx-background-size: 100% 100%;
}

.victory{
  -fx-background-image: url("images/victory.jpg");
}